*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
}

.button{
  position: absolute;
  z-index: +3;
  width: 5rem;
  height: 2rem;
  left: 17rem;
  top: 40rem;
  border-radius: 50%;
  
  background-color: #9BE654;
}

.bitti{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.575);
  z-index: +3;
  left: 9rem;
  top: 20rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:x-large;
  font-style:italic;
  border: 0.2rem #FFC299 solid;
  border-radius: 1rem;

}



.game-container{
    width: 500px;
    height: 730px;
    position: absolute;
    left: 60px;
}
.sky{
    background-color: #9AE554;
     width: 500px;
     height: 580px;
     position: absolute;
     background-image: url(images/istanbul.png);
     background-repeat: no-repeat;
    background-position: -40px 205px;
     
}
.ground{
    background-color: #FDD183;
    width: 500px;
    height: 150px;
    position: relative;
    top: 580px;
    z-index: +1;
    background-image: url(images/bottom-background.png);
    animation: ground 5s linear infinite;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
}
@keyframes ground {

    from {
        background-position: 0 0;
      }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
      to {
        background-position: -500px 0;
      }

}
.bird{

    width: 60px;
    height: 45px;
    position: absolute;
    background-image: url(images/IMG_5387.PNG);
    
   
}

.obstacle{
    background-image: url(images/obstackle.png);
width: 60px;
height: 300px;
position: absolute;

}

.topObstacle{
background-image: url(images/obstackle-up.png);
transform:rotate(180deg);
width: 60px;
height: 300px;
position: absolute;
}

.border-left{
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;

}

.border-right{
    width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 560px;
}
.border-top{
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
    top: -40px;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
.general{
      width: 120%;
      
    }
  }
